.logo {
    width: 400px;
    margin: auto;
    display: block;
}
.main-header{
    background-color: #87423c, 36px;
}
.navigation{
    background-color: #4d1d18;
    text-align: right;
}
.navigation a{
    color: gold;
    text-decoration: none;
    padding: 12px;
    display:inline-block;
}
.navigation a:hover {
    color: #555;
    background-color: blanchedalmond;
}
body{
    background-color:moccasin;
    font-family:'Helvetica', 'Calibri', monospace;
    margin: 0;
    font-size: 18px;
    font-weight: 400%

}
.banner {
    background-image: url("graphics/khachik-simonian-nXOB-wh4Oyc-unsplash.jpg");
    aspect-ratio: 16/5;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}
.banner h1 {
    font-family: 'Helvetica','Calibri', sans-serif;
    font-size: 300%;
    color:tomato;
    text-shadow: 3px 3px mistyrose;
    font-weight: bold;
}
.videohead h1 {
    font-family: 'Helvetica','Calibri', monospace;
    font-size: 200%;
    color:deepskyblue; 
}
.videocon{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:30px;
    margin:30px;
    line-height:150%;
    padding:50px;
}

.social a {
    text-decoration: none;
    color: rgb(20, 149, 255);
    font-size: 150%;
    margin: 0 20px ;
}
.social {
    text-align: center;
}
/* pseudo selector / class */
.social a:hover {
    color: yellow;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    /* margin-top: 30px; */
    margin: 30px;
    line-height: 150%;
}
.content h3 {
    color:crimson;
    font-size:150%;
}
.content.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 30px;
    line-height: 150%;
}
/*.content h1 {
    color:darkslategray;
    text-shadow:lightpink;
    font-size:300%;
}*/
.card img {
    max-width: 100%;
}
.card-image{
    aspect-ratio: 4/2.5;
    overflow: hidden;
}
.card h1 {
    font-family: 'Helvetica','Calibri', sans-serif;
    font-size: 200%;
    color:darksalmon;
    text-shadow: darkred 2px 2px; 
}
.card h5 {

}
.footer h4 {
    text-align:center;
    font-size:120%;
    color:steelblue;
}

/* selector for element that has both banner and contact classes */
.banner.contact{
    background-image: url("graphics/mona-jain--7e7KERdgW0-unsplash.jpg")
}
.banner.about{
    background-image: url("graphics/ralph-ravi-kayden-FqqiAvJejto-unsplash.jpg")
}
.banner.news{
    background-image: url("graphics/fabrizio-chiagano-7sf1RGqn2DA-unsplash.jpg");
}
.content.contact{
    grid-template-columns: 1fr 2fr 1fr;
}

#contact-form{
    grid-column-start: 2;
    background-color:rgb(255, 223, 82);
    padding: 30px 100px;
    border-radius: 10px;
}
/* form styles */
#contact-form > label{
    display: block;
    font-weight: bold;
}
#contact-form > input, 
#contact-form > select,
#contact-form > textarea 
{
    min-width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    border:rgb(252, 164, 0) solid 1px;
}
#contact-form > input:focus, 
#contact-form > select:focus,
#contact-form > textarea:focus
{
    outline:rgb(255, 0, 0) solid 1px;
}
.checkbox, .radio {
    padding: 15px 0;
}